@font-face {
    font-family: 'MountainsofChristmasRegular';
    src: url('../fonts/MountainsofChristmas-webfont.eot');
    src: url('../fonts/MountainsofChristmas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MountainsofChristmas-webfont.woff') format('woff'),
         url('../fonts/MountainsofChristmas-webfont.ttf') format('truetype'),
         url('../fonts/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DigitaldreamRegular';
    src: url('../fonts/DIGITALDREAM-webfont.eot');
    src: url('../fonts/DIGITALDREAM-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIGITALDREAM-webfont.woff') format('woff'),
         url('../fonts/DIGITALDREAM-webfont.ttf') format('truetype'),
         url('../fonts/DIGITALDREAM-webfont.svg#DigitaldreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ---------------------------
 *
 *	Candelaria, Kevin
 *	http://kev-dev.com
 *
 *----------------------------*/		